<particles [params]="myParams" [style]="myStyle" [width]="100" [height]="100"> </particles>

<div class="lg-wrapper p-0 m-0">
  <div class="row m-0 p-0 h-100">

    <!-- INTRO -->
    <div class="col-md-8 align-self-center mx-auto text-center">
      <div class="m-5">
        <img id="logo-img" src="./assets/images/endoc-wide-logo.svg" alt="">
        <br>
        <ul class="list-unstyled">
          <li> Manage your API endpoints. </li>
          <li> Easy way for front-end and back-end developers to comunicate with each other </li>
          <li> Free and always will be </li>
        </ul>
      </div>
    </div>

    <!-- LOGIN / REGISTER -->
    <div class="col-md-4 p-5 h-100">
      <div class="h-100 w-100 lg-bg bg-dark text-light d-flex p-5">
        <div class="align-self-center text-center mx-auto">

          <!-- LOGIN -->
          <div id="login" *ngIf="isInLogin">
            <h2 class="text-light"> LOG IN </h2>
            <br>
            <div class="form-row">
              <div class="form-group col-md-12">
                <div class="input-group input-group-seamless">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i [ngClass]="{'text-dark': user.Username}" class="fa fa-user"></i>
                    </div>
                  </div>
                  <input placeholder="Username" type="text" autocomplete="false" class="form-control dark"
                    (keyup.enter)="login()" [(ngModel)]="user.Username">
                </div>
              </div>

              <div class="form-group col-md-12">
                <div class="input-group input-group-seamless">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i [ngClass]="{'text-dark': user.Password}" class="fa fa-lock"></i>
                    </div>
                  </div>
                  <input placeholder="Password" type="password" autocomplete="false" [(ngModel)]="user.Password"
                    (keyup.enter)="login()" class="form-control">
                </div>
              </div>



            </div>

            <div *ngIf="loginResponse" class="col-md-12 pt-0 pb-2">
              <label class="text-center text-danger col-md-12"> {{ 'RESPONSE.' + loginResponse?.message | translate}}
              </label>
            </div>
            <button class="btn btn-dark btn-block" 
                    [disabled]="isLoading || !(user.Username && user.Password)" 
                    (click)="login()"> 
                    <i *ngIf="isLoading" class="fa fa-spin fa-spinner"></i>
                    <span *ngIf="!isLoading">{{'AUTH.LOGIN' | translate}} </span>      
            </button>
            <button class="btn btn-dark btn-block" (click)="toggleRegisterLogin()"> {{ 'AUTH.RegisterHere' |
              translate}} </button>
          </div>


          <!-- REGISTER -->
          <div id="register" *ngIf="!isInLogin">

            <h2 class="text-light"> SIGN UP </h2>
            <br>
            <div class="form-row">
              <div class="form-group col-md-6">
                <input placeholder="{{'AUTH.Name' | translate}}" type="text" class="form-control"
                  [(ngModel)]="userToRegister.Name">
              </div>

              <div class="form-group col-md-6">
                <input placeholder="{{'AUTH.Surname' | translate}}" type="text" class="form-control"
                  [(ngModel)]="userToRegister.Surname">
              </div>

              <div class="form-group col-md-12">
                <input placeholder="Email" type="email" class="form-control" [(ngModel)]="userToRegister.Email">
              </div>

              <div class="form-group col-md-12">
                <input placeholder="{{'AUTH.Username' | translate}}" type="text" class="form-control"
                  [(ngModel)]="userToRegister.Username">
              </div>

              <div class="form-group col-md-12">
                <input placeholder="{{'AUTH.Password' | translate}}" type="password" class="form-control"
                  [(ngModel)]="userToRegister.Password">
              </div>

            </div>

            <div *ngIf="registerResponse" class="col-md-12 pt-0 pb-2">
              <label class="text-center text-danger col-md-12"> {{ 'RESPONSE.' + registerResponse?.message | translate}}
              </label>
            </div>

            <button type="button" 
                    class="btn btn-dark col-md-12 btn-block"
                    [disabled]="isRegisterLoading || (!userToRegister.Name || !userToRegister.Surname || !userToRegister.Username || !userToRegister.Password)"
                    (click)="register()">
                    <i *ngIf="isLoading" class="fa fa-spin fa-spinner"></i>
                    <span *ngIf="!isLoading">{{'AUTH.SIGNUP' | translate}} </span>      
          </button>

            <button type="button" class="btn btn-dark col-md-12 btn-block" (click)="toggleRegisterLogin()">
              <i class="fa fa-arrow-left mr-2"></i> Back to Log In
            </button>

          </div>

        </div>
      </div>
    </div>

  </div>
</div>