body {
  padding: 0 !important;
  margin: 0 !important;
}

a,
label,
p,
b,
h1,
h2,
h3,
h4,
h5,
h6,
pre {
  font-family: 'Maven Pro', 'Open Sans', sans-serif;
}

.clear {
  clear: both;
}

.text-clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}
