.sidenav .list-group li {
  cursor: pointer;
  background-color: #212529;
  outline: none !important;
}

.sidenav .list-group li:hover {
  background-color: #16181b;
}

.active-endpoint {
  background-color: #16181b !important;

}

.sidenav .list-group li span {
  color: #e9ecef;
}

.btn_registerNewRoute {
  border: 1px solid #16181b;
}

.stickyBtnGroup {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
  z-index: 100;

}

.sidenav::-webkit-scrollbar {
  display: none;
}

.sidenav::-moz-scrollbar {
  display: none;
}
